@model TennisDomain.Classes.Game

@{
    ViewBag.Title = "Edit game";
}

<h2>Edit game</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Game</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Player1Id,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Player1Id" class="js-data-fetch_players" style="width:40%;">
                    <option value="@Model.Player1Id" selected="selected">@Model.Player1.NameNumber</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Player2Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Player2Id" class="js-data-fetch_players" style="width:40%;">
                    <option value="@Model.Player2Id" selected="selected">@Model.Player2.NameNumber</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Set 1</label>
            <div class="col-md-2">
                <input type="text" name="Player1Set1" value="@Model.Player1ScoreArray[0]">
            </div>
            <div class="col-md-2">
                <input type="text" name="Player2Set1" value="@Model.Player2ScoreArray[0]">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Set 2</label>
            <div class="col-md-2">
                <input type="text" name="Player1Set2" value="@Model.Player1ScoreArray[1]">
            </div>
            <div class="col-md-2">
                <input type="text" name="Player2Set2" value="@Model.Player2ScoreArray[1]">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Set 3</label>
            <div class="col-md-2">
                <input type="text" name="Player1Set3" value="@Model.Player1ScoreArray[2]">
            </div>
            <div class="col-md-2">
                <input type="text" name="Player2Set3" value="@Model.Player2ScoreArray[2]">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Set 4</label>
            <div class="col-md-2">
                <input type="text" name="Player1Set4" value="@Model.Player1ScoreArray[3]">
            </div>
            <div class="col-md-2">
                <input type="text" name="Player2Set4" value="@Model.Player2ScoreArray[3]">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Set 5</label>
            <div class="col-md-2">
                <input type="text" name="Player1Set5" value="@Model.Player1ScoreArray[4]">
            </div>
            <div class="col-md-2">
                <input type="text" name="Player2Set5" value="@Model.Player2ScoreArray[4]">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
